@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;800;900&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --standard-round: "border-radius: .2rem;";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* SWIPER CSS -------------------*/

.HeroMainPage{
  position: relative;
}

.slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide-01 {
  background-image: linear-gradient(
    45deg,
      rgb(27, 26, 26),
      #a7a7a700
    ),
    url('https://react-eduker.netlify.app/assets/img/slider/slider-1.jpg');
  }
  .slide-02 {
  background-image: linear-gradient(
    45deg,
      rgb(27, 26, 26),
      #a7a7a700
    ),
    url('https://react-eduker.netlify.app/assets/img/slider/slider-2.jpg');
}
.slideContent {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  padding: 0 9%;

  & span {
    margin-bottom: 8px;
    font-size: 14px;
    color: #CECFD0;
  }
  & h2 {
    line-height: 1.1;
    font-size: 3.8rem;
    margin-bottom: 12px;
  }

  & p{
    max-width: 45%;
    color: #EDECEB;
  }
}

.HeroMainPage .heroInnerParts{
  position: absolute;
  height: 200px;
  width: 80%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #EDECEB;
  z-index: 999;
}

/* SWIPER CSS -------------------*/
