.modal{
    width: 100%;
    height: 95vh;
    background-color: #000a;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

    & iframe{
        border: 1px solid #ffffff80;
        border-radius: 8px;
    }
}
.active{
    visibility: visible;
}
